body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  text-align: center;
  font-size: 16x;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.card {
  box-sizing: 0px 5px 30px #25323762;
  color: aqua;
  margin: auto;
  margin-top: 35px;
  width: 1000px;
}

.card-body {
  width: auto;
}

.card-title {
  color: #212529;
  font-size: 16px;
}

.navbar {
  background-color: green;
  box-shadow: 0 3px 8px white;
}

.navbar-nav {
  right: 0;
}

.nav-link:hover {
  color: rgb(0, 128, 53);
}

.nav-item {
   color: rgb(23, 23, 199);
   font-size: 16pt;
   font-weight: normal;
 }

 .navbar-brand {
  font-family: Arial;
  margin-left:10px;
  font-size: 30px;
  font-weight: bold;
 }

.btn {
  color: white;
  background-color: #212529;
}

.btn-primary {
  border-color: #212529;
}

.nav-item:hover {
  background-color: #8d99ae6c;
  border-radius: 6px;
}

.table-thead {
  width: 50px;
}
